In [2]:
2+2

4

In [3]:
1+2

3

In [4]:
400000000000*4

1600000000000

In [14]:
import pandas as pd

array = [2, 4, 6, 8, 10, 12]

series_obj = pd.Series(array)

arr = series_obj.values
arr

array([ 2,  4,  6,  8, 10, 12], dtype=int64)

In [15]:
# reshaping series
reshaped_arr = arr.reshape((2, 3))

reshaped_arr

array([[ 2,  4,  6],
       [ 8, 10, 12]], dtype=int64)

In [17]:
import pandas as pd
# make an array
array = ["gulu","baboon",
"shru", "dada",
"montu","kainat"]

series_obj = pd.Series(array)

print("Given Series:\n", series_obj)
# convert series object into array
arr = series_obj.values
arr

Given Series:
 0      gulu
1    baboon
2      shru
3      dada
4     montu
5    kainat
dtype: object

array(['gulu', 'baboon', 'shru', 'dada', 'montu', 'kainat'], dtype=object)

In [19]:
# reshaping series
reshaped_arr = arr.reshape((1,6))

print("After Reshaping: \n", reshaped_arr)

After Reshaping:
 [['gulu' 'baboon' 'shru' 'dada' 'montu' 'kainat']]

In [25]:
import pandas as pd

df = pd.DataFrame({'A': ['Johny', 'Lisa', 'Malkova'],
'B': ['Scientist', 'Actor', 'Yoga'],
'C': [27, 23, 21]})
df

         A          B   C
0    Johny  Scientist  27
1     Lisa      Actor  23
2  Malkova       Yoga  21

In [26]:
df.pivot('A', 'B', 'C')

<ipython-input-26-d3da59eff764>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.pivot will be keyword-only.
  df.pivot('A', 'B', 'C')

B        Actor  Scientist  Yoga
A
Johny      NaN       27.0   NaN
Lisa      23.0        NaN   NaN
Malkova    NaN        NaN  21.0

In [24]:
df.pivot(index ='A', columns ='B', values =['C', 'A']

<class 'SyntaxError'>: incomplete input (<ipython-input-24-554c1221e1a8>, line 1)

In [28]:
df = pd.DataFrame({'Name': ['Johny', 'Samsons', 'Steffy', 'Jordy', 'Emily', 'Tom'],
'Gender': ['Male', 'Female', 'Female',
'Male', 'Female', 'Male'],
'Age': [45, 26, 24, 36, 32, 43]})
print("Dataset")
print(df)
print("-"*40)

def age_bucket(age):
    if age <= 18:
        return "<18"
    else:
        return ">18"
df['Age Group'] = df['Age'].apply(age_bucket)

gender = pd.DataFrame(df.Gender.value_counts(normalize=True)*100).reset_index()
gender.columns = ['Gender', '%Gender']
df = pd.merge(left=df, right=gender, how='inner', on=['Gender'])
# creating pivot table
table = pd.pivot_table(df, index=['Gender', '%Gender', 'Age Group'],
values=['Name'], aggfunc={'Name': 'count',})
# display table
print("Table")
print(table)

Dataset
      Name  Gender  Age
0    Johny    Male   45
1  Samsons  Female   26
2   Steffy  Female   24
3    Jordy    Male   36
4    Emily  Female   32
5      Tom    Male   43
----------------------------------------
Table
                          Name
Gender %Gender Age Group
Female 50.0    >18           3
Male   50.0    >18           3